@font-face {
  font-family: 'futura';
  src: url(../fonts/FuturaPT-Book.woff2);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: futura;
}

h1, h2 {
  color: #2F2222;
}

h1 {
  font-weight: 450;
  font-size: 30px;
  line-height: 1.266em;
}

h2 {
  font-size: 24px;
  line-height: 1.291em;
  font-weight: 600;
  letter-spacing: .24px;
}

p {
  font-size: 18px;
  line-height: 1.277em;
  color: #000;
}

p.date,
p.excerpt {
  color: rgba(47, 34, 34, 0.4);
}

p.date {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #2F2222;
  font-size: 18px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: relative;
}

a.category {
  display: inline-block;
  padding: 8px 16px;
  background: #F7F8FD;
  color: #5D71DD;
  font-size: 16px;
}

a.category::before {
  position: relative;
}

button.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: #5D71DD;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-family: futura;
  font-size: 18px;
  font-weight: 400;
}

button.subscribe img {
  margin-left: 10px;
}

.container {
  width: 100%;
  max-width: 1420px;
  padding: 0px 10px;
  margin: 0 auto;
}

@media (max-width: 850px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 21px;
  }
  p {
    font-size: 18px;
  }
  a {
    font-size: 16px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1420px;
  width: 100%;
  padding: 0px 10px;
  margin: 0 auto;
  margin-top: 8px;
}

.header > img {
  margin-top: 3px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 525px;
  width: 100%;
}

.header__nav p {
  color: #5D71DD;
}

.header__nav a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background: #5D71DD;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__nav a:hover {
  color: #5D71DD;
}

.header__nav a:hover::before {
  width: 100%;
}

.header__nav img {
  margin-right: 11px;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 370px) {
  .header img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sidebar {
  max-width: 320px;
  width: 100%;
}

.sidebar__posts {
  margin-top: 30px;
}

.sidebar__post {
  margin-top: 10px;
}

.sidebar__post p.date {
  margin-top: 13px;
  letter-spacing: 1px;
}

.sidebar__post span {
  width: 100%;
  height: 2px;
  background: rgba(47, 34, 34, 0.1);
  margin-top: 10px;
  display: block;
}

.sidebar__post:last-child span {
  display: none;
}

.sidebar__subscribe {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  margin-top: 83px;
  text-align: center;
}

.sidebar__subscribe input {
  width: 100%;
  height: 50px;
  padding: 13px 30px;
  margin-top: 30px;
  color: #2F2222;
  border: none;
  outline: none;
  font-family: futura;
  font-size: 18px;
  color: #2F2222;
}

.sidebar__subscribe input::-webkit-input-placeholder {
  color: rgba(47, 34, 34, 0.4);
  font-size: 18px;
}

.sidebar__subscribe input::-moz-placeholder {
  color: rgba(47, 34, 34, 0.4);
  font-size: 18px;
}

.sidebar__subscribe input:-ms-input-placeholder {
  color: rgba(47, 34, 34, 0.4);
  font-size: 18px;
}

.sidebar__subscribe input::-ms-input-placeholder {
  color: rgba(47, 34, 34, 0.4);
  font-size: 18px;
}

.sidebar__subscribe input::placeholder {
  color: rgba(47, 34, 34, 0.4);
  font-size: 18px;
}

.sidebar__subscribe button {
  margin-top: 20px;
}

@media (max-width: 1380px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    margin-top: 96px;
    padding: 0px 42px;
  }
  .sidebar span {
    display: none;
  }
  .sidebar__posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .sidebar__post {
    max-width: 400px;
  }
  .sidebar__subscribe {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    max-width: 800px;
    gap: 0px 50px;
  }
  .sidebar__subscribe input {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 0;
  }
  .sidebar__subscribe button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1100px) {
  .sidebar__post {
    max-width: 300px;
  }
}

@media (max-width: 850px) {
  .sidebar__post {
    max-width: 230px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    padding: 0px 20px;
  }
  .sidebar__post {
    max-width: 200px;
  }
}

@media (max-width: 650px) {
  .sidebar {
    margin-top: 0px;
  }
  .sidebar__posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .sidebar__post {
    max-width: 500px;
  }
}

@media (max-width: 550px) {
  .sidebar__subscribe {
    grid-template: repeat(3, 1fr)/1fr;
    max-width: 300px;
    margin-top: 35px;
  }
  .sidebar__subscribe button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.post {
  max-width: 800px;
  width: 100%;
}

.post > img {
  width: 100%;
  height: 303px;
  margin-top: 39px;
}

.post h1 {
  margin-top: 30px;
  letter-spacing: 0.32px;
}

.post__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 55px;
}

.post__pagination a {
  display: inline-block;
  padding: 10px 16px;
  color: #5D71DD;
  background: rgba(93, 113, 221, 0.05);
  border-radius: 8px;
  letter-spacing: 0.1px;
}

.post__pagination a img {
  height: 10px;
  width: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post__pagination a:first-child img {
  margin-right: 12px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.post__pagination a:last-child img {
  margin-left: 13px;
}

.post__content {
  display: grid;
  grid-template: 138px 92px 138px 138px / 440px 320px;
  grid-gap: 20px 40px;
  margin-top: 32px;
}

.post__content p {
  line-height: 1.30em;
}

.post__content p:first-child,
.post__content p:nth-child(2) {
  grid-column: span 2;
}

.post__content p:nth-child(4) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.post__content-img {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  max-width: 320px;
  width: 100%;
}

.post__content-img img {
  max-width: 320px;
  height: 171px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 5px;
}

.post__content-img p {
  font-size: 14px;
  margin-top: 5px;
}

.footer {
  width: 100%;
  height: 273px;
  background-color: rgba(95, 114, 221, 0.051);
  margin-top: 150px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.footer__content img {
  margin-left: 3px;
}

.footer__content p {
  font-size: 14px;
  margin-top: 65px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 471px;
  width: 100%;
  margin-top: 32px;
}

@media (max-width: 550px) {
  .footer {
    margin-top: 75px;
  }
}

.banner {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 43px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 36px;
}

.post__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 212px;
  width: 100%;
}

.footer {
  margin-top: 139px;
}

@media (max-width: 1380px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 850px) {
  .post__content {
    grid-gap: 10px;
  }
  .banner {
    height: 200px;
  }
}

@media (max-width: 800px) {
  .post__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post > img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 400px) {
  .post__pagination a {
    font-size: 14px;
    padding: 5px 0px;
  }
}

@media (max-width: 320px) {
  .post__content-img img {
    max-width: 300px;
  }
}
